@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
body {
  margin: 0;
  font-family: 'Antic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pink);
  /* background-image: url(./assets/image/BackImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 40px;
  background-size: 500px;
  background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --pink: #e6dbdb;
}

.list-headers {
  font-weight: bold;
  /* text-decoration: underline 2px; */
  border-bottom: solid black 1px ;
  padding-bottom: 5px;
  margin: 10px;
  margin-top: 10px;
  padding-top: 15px;
}

/* .btn-search {
  position: absolute;
  right: 2%;
  margin-top: 4px;
  background-color: transparent;
  outline: none;
  border: none;
  
} */
