@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
body {
  margin: 0;
  font-family: 'Antic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pink);
  background-image: url(./assets/image/BackImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 40px;
  background-size: 500px;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --pink: #e6dbdb;
}

.btn-search {
  position: absolute;
  top: 5px;
  right: 0%;
  margin-right: 8px;
  background-color: white;
}


